<a href="https://colab.research.google.com/github/kkwakkwaks/Abandoned-cat-adoption-prediction-model/blob/main/%EA%B3%BD%ED%98%9C%EC%A7%8084_0305_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn

print(sklearn.__version__)

1.2.1

### 모델링을 들어가기 전 하는 과정 
- 전처리 -> 모델링 
- 전처리, 피처엔지니어링, 스케일링, 인코딩 등 전처리 완료 후에
- 모델링 전 train, val, test 데이터를 분리한다.
- 왜 우리는 데이터를 나누는가?

- 모델링을 -> 모델링은 지도학습 분류, 예측 -> 분류예측하고 끝, 분석가는 결국 분류류와 예측한 결과를 가지고 -> solution이 나와야한다!
- 솔루션이지만 -> 예측한 모델링을 단순하게 한 번 하고 끝 나는게 아니라 결국 일반화하기 위해서 진행한다.
- 일반화를 하기 위해서는 과적합을 피해야 한다.
- 수능, 모의고사 비교
- 너무나 데이터를 학습을 과하게 해서 실제 train 데이터에는 좋은 결과가 나오지만 test는 좋지 못한 결과 나오게 된다.

In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
import pandas as pd

In [4]:
iris = load_iris()

In [5]:
iris_data = iris.data

In [6]:
# 데이터 확인인
iris_data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [7]:
# iris_label에 target값 저장
iris_label = iris.target

In [8]:
iris_label

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
# iris_df에 irsi data를 data frame형태로 바꿔서 저장하고 y 에는 target값 저장
iris_df = pd.DataFrame(data=iris_data, columns = iris.feature_names)
iris_df['y'] = iris.target

In [10]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

### 학습용 데이터, 테스트용 데이터 분리
- 학습 데이터로 학습된 모델이 얼마나 뛰어난 성능을 가지는지 평가하려면 test 데이터가 필요하다.
    - 사이킷런에서 제공하는 train_test_split() API 제공
    - test( 데이터 분할 가능하고), test_size 조정가능하다. 전체 데이터를 내가 직접 비중을 나눠서 train, test로 나눌 수 있다.

In [11]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [12]:
#데이터 분리
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size= 0.3 ,random_state=111)
#test_size 전체 데이터에서 비중을 말하는 것, random_state 섞는 개념으로 이해해 주시면 된다.

# train : test 를 7:3으로 나눠줌
# iris_data 7은 X_train, 3은 X_test에 저장하고, iris_label 7은 y_train, 3은 y_test에 각각 저장장

In [13]:
X_train

array([[5.5, 2.6, 4.4, 1.2],
       [6.9, 3.1, 4.9, 1.5],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.8, 1.6, 0.2],
       [5.7, 2.9, 4.2, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [6. , 2.7, 5.1, 1.6],
       [5.7, 3.8, 1.7, 0.3],
       [6.1, 2.9, 4.7, 1.4],
       [4.5, 2.3, 1.3, 0.3],
       [4.8, 3.1, 1.6, 0.2],
       [4.9, 2.5, 4.5, 1.7],
       [4.9, 3.1, 1.5, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [6. , 3. , 4.8, 1.8],
       [5.5, 2.5, 4. , 1.3],
       [5.9, 3. , 4.2, 1.5],
       [5.9, 3. , 5.1, 1.8],
       [5.4, 3.9, 1.7, 0.4],
       [6.4, 3.2, 4.5, 1.5],
       [7.7, 3.8, 6.7, 2.2],
       [7.2, 3. , 5.8, 1.6],
       [5.2, 3.5, 1.5, 0.2],
       [6.2, 3.4, 5.4, 2.3],
       [5.1, 3.8, 1.9, 0.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.4, 2.7, 5.3, 1.9],
       [5.5, 2.4, 3.8, 1.1],
       [6.9, 3.2, 5.7, 2.3],
       [6.8, 3.2, 5.9, 2.3],
       [6.6, 3. , 4.4, 1.4],
       [6. , 2.2, 4. , 1. ],
       [6.4, 2.8, 5.6, 2.1],
       [6.1, 2.8, 4. , 1.3],
       [6.5, 3. , 5.8, 2.2],
       [5. , 3.5, 1.6, 0.6],
       [7.7, 3. , 6.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 2.5, 3.9, 1.1],
       [6.1, 2.6, 5.6, 1.4],
       [6.3, 3.3, 6. , 2.5],
       [4.6, 3.1, 1.5, 0.2],
       [6.3, 2.8, 5.1, 1.5],
       [5.6, 2.8, 4.9, 2. ],
       [4.9, 3. , 1.4, 0.2],
       [5.6, 2.9, 3.6, 1.3],
       [6.1, 3. , 4.6, 1.4],
       [6.3, 2.5, 4.9, 1.5],
       [5. , 2.3, 3.3, 1. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.5, 3. , 5.5, 1.8],
       [4.8, 3. , 1.4, 0.3],
       [5.6, 2.7, 4.2, 1.3],
       [4.6, 3.4, 1.4, 0.3],
       [5.8, 2.6, 4. , 1.2],
       [6.4, 2.8, 5.6, 2.2],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 3.2, 5.3, 2.3],
       [7.7, 2.8, 6.7, 2. ],
       [5. , 3.3, 1.4, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.9, 4.3, 1.3],
       [5.1, 3.5, 1.4, 0.3],
       [5. , 3.6, 1.4, 0.2],
       [5.8, 2.7, 5.1, 1.9],
       [7.4, 2.8, 6.1, 1.9],
       [5.2, 2.7, 3.9, 1.4],
       [4.4, 3. , 1.3, 0.2],
       [6.2, 2.9, 4.3, 1.3],
       [6.3, 2.5, 5. , 1.9],
       [4.4, 3.2, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [6.3, 2.9, 5.6, 1.8],
       [4.7, 3.2, 1.6, 0.2],
       [5.7, 2.8, 4.1, 1.3],
       [6.2, 2.2, 4.5, 1.5],
       [6.5, 3. , 5.2, 2. ],
       [7.3, 2.9, 6.3, 1.8],
       [7. , 3.2, 4.7, 1.4],
       [4.3, 3. , 1.1, 0.1],
       [5.6, 3. , 4.1, 1.3],
       [5.4, 3.4, 1.5, 0.4],
       [6. , 2.9, 4.5, 1.5],
       [6.9, 3.1, 5.1, 2.3],
       [4.9, 3.6, 1.4, 0.1],
       [6.5, 2.8, 4.6, 1.5],
       [5.1, 3.7, 1.5, 0.4],
       [5.8, 4. , 1.2, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [6.8, 3. , 5.5, 2.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [5. , 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [5.6, 3. , 4.5, 1.5],
       [5.1, 3.8, 1.5, 0.3],
       [6.7, 3.1, 4.7, 1.5],
       [6.7, 2.5, 5.8, 1.8],
       [5.4, 3. , 4.5, 1.5]])

In [14]:
X_test

array([[5.1, 3.4, 1.5, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [7.2, 3.6, 6.1, 2.5],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3. , 5. , 1.7],
       [4.8, 3.4, 1.9, 0.2],
       [5.1, 3.5, 1.4, 0.2],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.3, 5.7, 2.5],
       [6.3, 3.3, 4.7, 1.6],
       [7.9, 3.8, 6.4, 2. ],
       [5.5, 3.5, 1.3, 0.2],
       [6. , 2.2, 5. , 1.5],
       [6.7, 3.3, 5.7, 2.1],
       [7.6, 3. , 6.6, 2.1],
       [5.7, 4.4, 1.5, 0.4],
       [6.2, 2.8, 4.8, 1.8],
       [4.9, 2.4, 3.3, 1. ],
       [5. , 3.2, 1.2, 0.2],
       [6.7, 3.1, 5.6, 2.4],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 3.1, 5.5, 1.8],
       [5.7, 2.8, 4.5, 1.3],
       [5.8, 2.7, 3.9, 1.2],
       [5.7, 2.5, 5. , 2. ],
       [5.1, 3.3, 1.7, 0.5],
       [5. , 3. , 1.6, 0.2],
       [5.9, 3.2, 4.8, 1.8],
       [4.7, 3.2, 1.3, 0.2],
       [6.3, 3.4, 5.6, 2.4],
       [4.6, 3.6, 1. , 0.2],
       [5.7, 3. , 4.2, 1.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.4, 3.9, 1.3, 0.4],
       [6.7, 3.1, 4.4, 1.4],
       [6.7, 3. , 5.2, 2.3],
       [7.1, 3. , 5.9, 2.1],
       [5.8, 2.7, 4.1, 1. ],
       [4.4, 2.9, 1.4, 0.2],
       [5.5, 2.3, 4. , 1.3],
       [5. , 2. , 3.5, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [6. , 3.4, 4.5, 1.6],
       [5.7, 2.6, 3.5, 1. ],
       [7.2, 3.2, 6. , 1.8]])

In [15]:
y_train

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 2, 0, 0, 2, 1, 1, 2, 0, 1, 2,
       2, 0, 2, 0, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 0, 2, 2, 0, 0, 1, 1, 2,
       2, 0, 2, 2, 0, 1, 1, 1, 1, 2, 2, 0, 1, 0, 1, 2, 2, 2, 2, 0, 0, 2,
       1, 0, 0, 2, 2, 1, 0, 1, 2, 0, 0, 2, 0, 1, 1, 2, 2, 1, 0, 1, 0, 1,
       2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 1, 0, 1, 2, 1])

In [16]:
y_test

array([0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 2, 0, 2, 2, 2, 0, 2, 1, 0, 2, 1, 2,
       1, 1, 2, 0, 0, 1, 0, 2, 0, 1, 0, 0, 1, 2, 2, 1, 0, 1, 1, 1, 1, 1,
       2])

In [17]:
df_clf = DecisionTreeClassifier(random_state=111)#디시젼트리를 사용

In [18]:
df_clf.fit(X_train, y_train) # fit안에 우리가 넣은 건 x_train, y_train x 데이터와 x 데이더에 대응하는 y값

# 7 비율을 가진 train 데이터를 이용해서 학습시킴

DecisionTreeClassifier(random_state=111)

In [19]:
#예측을 진행하자! 학습이 완료 되었다.
pred = df_clf.predict(X_test)

In [20]:
pred#정답을 출력 X_test 값을 학습해서 y 값을 예측했다!

array([0, 0, 2, 2, 2, 0, 0, 2, 2, 1, 2, 0, 1, 2, 2, 0, 2, 1, 0, 2, 1, 2,
       1, 1, 2, 0, 0, 2, 0, 2, 0, 1, 0, 0, 1, 2, 2, 1, 0, 1, 1, 1, 1, 1,
       2])

In [21]:
#정확도를 봐야 알지 !
from sklearn.metrics import accuracy_score

In [22]:
print('DT 예측 정확도: {0:.3f}'.format(accuracy_score(y_test, pred))) 
# y_test 기존의 정답, pred 예측값
# 두 개를 비교해서 정확도 구함

DT 예측 정확도: 0.933

In [23]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [24]:
tt_df = titanic[['survived','pclass','sibsp','parch','fare']]

In [25]:
tt_df.isna().sum()
# 결측치 개수 확인

survived    0
pclass      0
sibsp       0
parch       0
fare        0
dtype: int64

In [26]:
# feature 확인
tt_df.columns

Index(['survived', 'pclass', 'sibsp', 'parch', 'fare'], dtype='object')

In [27]:
# 3개 feature만 저장 
tt_df_x= tt_df[['pclass', 'sibsp', 'parch', 'fare']]

In [28]:
# survived를 target값으로 사용 
tt_df_y =tt_df[['survived']]

In [29]:
len(tt_df_x)

891

In [30]:
len(tt_df_y)

891

In [31]:
X_train, X_test, y_train, y_test = train_test_split(tt_df_x, tt_df_y, test_size= 0.3 ,random_state=111)
#test_size 전체 데이터에서 비중을 말하는 것, random_state 섞는 개념으로 이해해 주시면 된다.

In [32]:
X_train

     pclass  sibsp  parch      fare
195       1      0      0  146.5208
150       2      0      0   12.5250
572       1      0      0   26.3875
134       2      0      0   13.0000
96        1      0      0   34.6542
..      ...    ...    ...       ...
275       1      1      0   77.9583
86        3      1      3   34.3750
724       1      1      0   53.1000
876       3      0      0    9.8458
852       3      1      1   15.2458

[623 rows x 4 columns]

In [33]:
y_train

     survived
195         1
150         0
572         1
134         0
96          0
..        ...
275         1
86          0
724         1
876         0
852         0

[623 rows x 1 columns]

In [34]:
X_test

     pclass  sibsp  parch      fare
374       3      3      1   21.0750
211       2      0      0   21.0000
258       1      0      0  512.3292
584       3      0      0    8.7125
461       3      0      0    8.0500
..      ...    ...    ...       ...
383       1      1      0   52.0000
719       3      0      0    7.7750
291       1      1      0   91.0792
432       2      1      0   26.0000
228       2      0      0   13.0000

[268 rows x 4 columns]

In [35]:
#예측을 진행하자! 학습이 완료 되었다.
pred = df_clf.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:413: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [36]:
#예측을 진행하자! 학습이 완료 되었다.
pred = df_clf.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:413: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [37]:
print('DT 예측 정확도: {0:.3f}'.format(accuracy_score(y_test, pred))) 
# y_test 기존의 정답, pred 예측값

DT 예측 정확도: 0.616

- 교차검증 진행 
- 과적합을 피하기 위해서 진행하는 것

## 필수과제 1
- 교차검증에 대한 개념을 정리해서 쥬피터 노트북 또는 워드파일이건 자유롭게 본인의 언어로 정리해 주세요!

## 필수과제 2
- 공유드린 데이터, 데이터에 대한 설명 
- 본인이 로직 세워서 전처리 해주시고 바로 머신에 학습시킬 수 있게 진행해 주세요!
- 우리가 일요일 수업 시작, 토요일에 랜덤하게 말씀드리면 그 분은 수업전날까지 본인이 정리한 csv파일과 전처리 로직에 대해서 공유해 주세요!
- 카톡으로 요청드린 분은 꼭 공유주시고
- 필수과제 1은 노션이 권한 부여된 후에 2일 안에 업로드해 주세요!

- 전처리라함은 문자열 데이터가 모두 수치화 되고, 수치형데이터로 모두 정리가 되어야 한다.
- 그 이유는 머신은 문자열을 인식하지 못 한다.